<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03</title>
    <link rel="stylesheet" href="./CSS/reset.css">
    <link rel="stylesheet" href="./CSS/grid.css">
    <link rel="stylesheet" href="./CSS/header.footer.css">
    <link rel="stylesheet" href="./CSS/hanburger.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7b76b55736.js" crossorigin="anonymous"></script>
    <script src="js/jq/jquery-3.7.1.min.js"></script>
    <script src="js/script.js"></script>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Noto+Serif+TC:wght@300;400;500&family=Nunito+Sans:opsz,wght@6..12,300&display=swap');
        @import url('https://fonts.cdnfonts.com/css/segoe-script');
    </style>
</head>
<body>

<header>
    <nav class="main_menu">
        <div class="menu">
            <a href="https://lyn-green.github.io/CHD104/NiShangGe/" class="logo"><img src="./tiny_pic/00.header.footer/logo_long.png" alt="NiShangGe"></a>
            <ul>
                <li class="menu-products-list">
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html#">商品總覽</a>
                    <ul class="sub_menu">
                        <li><a href="NiShangGe-list.html#hanfu">漢服</a></li>
                        <li><a href="NiShangGe-list.html#accessory">配飾</a></li>
                        <li><a href="NiShangGe-list.html#others">其他</a></li>
                    </ul>
                </li>
                <li>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-about.html">關於品牌</a>
                </li>
                <li>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/meet-with.html">認識漢服</a>
                </li>
                <li>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-contact.html">聯絡我們</a>
                </li>
            </ul>
            <div class="button">
                <ul>
                    <li><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                    <li id="openBtn"><button><i class="fa-solid fa-user"></i></button></li>
                    <li><a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-cart.html"><i class="fa-solid fa-cart-shopping fa-flip-horizontal"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="phone-nav-bar">
            <div class="nav-bar">
                <a href="https://lyn-green.github.io/CHD104/NiShangGe/" class="logo"><img
                    src="./tiny_pic/00.header.footer/logo_long.png" alt="NiShangGe"></a>
                <div class="nav-bar-btn">
                    <div id="openBtn"><button><i class="fa-solid fa-user"></i></button></div>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-cart.html"><i class="fa-solid fa-cart-shopping fa-flip-horizontal"></i></a>
                </div>
                <input type="checkbox" id="toggler">
                <label for="toggler">
                    <div class="hamburger-container">
                        <span></span>
                        <span></span>
                    </div>
                </label>
                <nav class="hb-main-menu">
                    <ul class="left-bar">
                        <li>
                            <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html"><span> | 商品總覽</span></a>
                            <ul class="sub_menu">
                                <li><a href="NiShangGe-list.html#hanfu">漢服</a></li>
                                <li><a href="NiShangGe-list.html#accessory">配飾</a></li>
                                <li><a href="NiShangGe-list.html#others">其他</a></li>
                            </ul>
                        </li>
                    </ul>    
                    <ul class="right-bar">
                        <li>
                            <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-about.html"> | 關於品牌</a>
                        </li>
                        <li>
                            <a href="https://lyn-green.github.io/CHD104/NiShangGe/meet-with.html"> | 認識漢服</a>
                        </li>
                        <li>
                            <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-contact.html"> | 聯絡我們</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>
</header>

<div class="card-login">
    <div class="container-form">
        <section class="loginCard"> 
            <h2>帳號登入</h2>
            <form action="">
                <div class="inputBox">
                    <span class="iconBox"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" required>
                    <label>電子信箱</label>
                </div>
                <div class="inputBox">
                    <span class="iconBox"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" required>
                    <label>密碼</label>
                </div>

                <div class="recovery-pass">
                    <a href="#">忘記密碼 ?</a>
                </div>
                
                <button type="submit">登入</button>

                <div class="registerNow">
                    <p>還沒有帳號嗎 ? <a href="#" class="registerLink">立即註冊 !</a></p>
                </div>

                <div class="other-login-way">
                    <h4>更多登入方式</h4>
                    <div class="social-web">
                        <a href="#"><img src="tiny_pic/07.icon/icon_google.png" alt="icon_google"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_twitter.png" alt="icon_twitter"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_FB.png" alt="icon_FB"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_line.png" alt="icon_line"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_wechat.png" alt="icon_wechat"></a>
                    
                    </div>
                </div>
            </form>
        </section>


        <section class="registerCard"> 
            <h2>註冊</h2>
            <form action="">
                <div class="inputBox">
                    <span class="iconBox"><i class="fa-regular fa-envelope"></i></span>
                    <input type="text" required>
                    <label>請輸入電子信箱</label>
                </div>
                <div class="inputBox">
                    <span class="iconBox"><i class="fa-solid fa-lock"></i></span>
                    <input type="password" required>
                    <label>請輸入密碼</label>
                </div>
                <!-- <div class="inputBox">
                    <input type="password" required>
                    <label>請再次輸入密碼</label>
                </div> -->

                <div class="recovery-pass">
                    <label><input type="checkbox">我已閱讀並同意 <a href="#">所有條款</a>、 <a href="#">隱私政策</a></label>
                </div>
                
                <button type="submit">註冊</button>

                <div class="registerNow">
                    <p>已有帳號 ? <a href="#" class="loginLink">登入</a></p>
                </div>

                <div class="other-login-way">
                    <h4>更多登入方式</h4>
                    <div class="social-web">
                        <a href="#"><img src="tiny_pic/07.icon/icon_google.png" alt="icon_google"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_twitter.png" alt="icon_twitter"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_FB.png" alt="icon_FB"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_line.png" alt="icon_line"></a>
                        <a href="#"><img src="tiny_pic/07.icon/icon_wechat.png" alt="icon_wechat"></a>
                        
                    </div>
                </div>
            </form>
        </section>
        <div class="closeBtn" id="closeBtn"><i class="fa-solid fa-x"></i></div>
    </div>
</div>

<div class="products-overview">
    <div class="products-banner">
        <div class="products-banner-img">
            <img src="./tiny_pic/02.list/list_banner_bg.jpg" alt="products-banner">
        </div>
        <div class="products-main-title">
            <div class="products-title">
                <h1>商品總覽</h1>
            </div>
            <div class="bottom-line"></div>
            <div class="products-sub-title">
                <h2>P<span>roducts</span></h2>
            </div>
        </div>
    </div>
</div>
<!-- div#app  快捷鍵-->
<div id="app">
    <div class="container" id="list-container">
        <div class="row">
            <div class="col-2" id="products-sidebar">
                
                <div class="selection">
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html">
                        <h2>全部商品</h2>
                    </a>
                    <div  v-for="item in sidebar">
                        <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html#hanfu">
                            <img :src="item.imgSrc" :alt="item.imgSrc">
                            <p>{{item.title}}</p>
                        </a>
                    </div>
                    <!-- <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html#accessory">
                        <img src="./tiny_pic/02.list/list_icon_02.png" width="30px" height="30px" id="normal-img">
                        <img src="tiny_pic/02.list/list_icon_02-v2.png" width="30px" height="30px" id="img-hover">
                        <p>配飾<span> Accessory</span></p>
                    </a>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html#others">
                        <img src="./tiny_pic/02.list/list_icon_03.png" width="30px" height="30px" id="normal-img">
                        <img src="./tiny_pic/02.list/list_icon_03-v2.png" width="30px" height="30px" id="img-hover">
                        <p>其他<span> Others</span></p>
                    </a> -->
                </div>
            </div>
            <div class="col-10 col-md-12" id="product-list">
                <div class="card-products">
                    <div  v-for="item in title1" class="card-information">
                        <div class="card-title">
                            <img :src="item.imgSrc" :alt="item.imgSrc">
                            <span>{{item.title}}</span>
                            <span>{{item.titleText}}</span>
                        </div>
                        <div class="card-text">
                            <p>{{item.description1}}</p>
                            <p>{{item.description2}}</p>
                        </div>
                    </div>
                    <div class="card-items">
                        <div v-for="item in list1" class="card-item">
                            <div class="item-img">
                                <img :src="item.image" :alt="item.name">
                            </div>
                            <div class="item-text">
                                <span> {{item.name}} </span>
                                <p> {{item.ename}} </p>
                                <p> {{item.price}} </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-products">
                    <div  v-for="item in title2" class="card-information">
                        <div class="card-title">
                            <img :src="item.imgSrc" :alt="item.imgSrc">
                            <span>{{item.title}}</span>
                            <span>{{item.titleText}}</span>
                        </div>
                    </div>
                    <div class="card-items">
                        <div v-for="item in list2" class="card-item">
                            <div class="item-img">
                                    <img :src="item.image" :alt="list_item_07">
                            </div>
                            <div class="item-text">
                                <span>{{item.name}}</span>
                                <p> {{item.ename}} </p>
                                <p>{{item.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-products">
                    <div  v-for="item in title3" class="card-information">
                        <div class="card-title">
                            <img :src="item.imgSrc" :alt="item.imgSrc">
                            <span>{{item.title}}</span>
                            <span>{{item.titleText}}</span>
                        </div>
                    </div>
                    <div class="card-items">
                        <div v-for="item in list3"
                            class="card-item">
                            <div class="item-img">
                                <img :src="item.image" :alt="item.name">
                            </div>
                            <div class="item-text">
                                <span>{{ item.name }}</span>
                                <p> {{item.ename}} </p>
                                <p>{{ item.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

    <!-- <p v-for="(listItem, listIndex) in list">
        {{ listIndex + 1}}. {{listItem}}
        'listItem' 這是自訂的名稱
    </p>  -->




<script>
    //v-for
    //for loops
    var array = [1, 2, 3, 4, 5]
    //let index = 0;順序從 0 開始
    //index < array.length;
    // index++
    for (let index = 0; index < array.length; index++) {
        const element = array[index];
        // console.log(element);
        
    }
    //會產出跟上面一樣的
    //for of loop
    for (const iterator of array) {
        console.log(iterator);
        
    }
</script>



<script src="https://unpkg.com/vue@3.4.5/dist/vue.global.js"></script>
<!-- <script src="https://unpkg.com/vue@next"></script> -->
<script>
    Vue.createApp({
        data(){
            return {
                sidebar: [
    {
        "imgSrc": "./tiny_pic/02.list/list_icon_01.png",
        "title": "漢服 Hanfu",
    },

    {
        "imgSrc": "./tiny_pic/02.list/list_icon_02.png",
        "title": "配飾 Accessory",
    },

    {
        "imgSrc": "./tiny_pic/02.list/list_icon_03.png",
        "title": "其他 Others",
    },
    
                ],
                title1: [
    {
        "imgSrc": "./tiny_pic/02.list/list_icon_01.png",
        "title": "漢服",
        "titleText": "Hanfu",
        "description1": 
                "漢服，中國傳統的華麗之美。它融合了千年的文化，呈現出傳統風格和精緻工藝。" ,
        "description2": 
                "漢服代表著中國古代的優雅和尊貴，是對傳統價值的珍視。穿上漢服，感受古代文化的魅力，重拾歷史的風華。"
    },
                ],

                title2: [
    {
        "imgSrc": "./tiny_pic/02.list/list_icon_02.png",
        "title": "配飾",
        "titleText": "Accessory",

    },
                ],

                title3: [
    {
        "imgSrc": "./tiny_pic/02.list/list_icon_03.png",
        "title": "其他",
        "titleText": "Others",

    },
                ],

                list1: [
                
    {
        "image": "./tiny_pic/02.list/list_item_01.jpg" ,
        "name": "青染白綾 |",
        "ename": "Blue-dyed White Silk",
        "price": "NT$ 4,599",
        "link": "https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-product.html"
    },
    {
        "image": "./tiny_pic/02.list/list_item_02.jpg",
        "name": "映日紅 |",
        "ename": "Sunlit Red",
        "price": "NT$ 5,999",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_03.jpg",
        "name": "玄燭 |",
        "ename": "Mysterious Candle",
        "price": "NT$ 6,299",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_04.jpg",
        "name": "竹間漫步 |",
        "ename": "Strolling Amidst Bamboo",
        "price": "NT$ 4,299",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_05.jpg",
        "name": "春色綺白 | ",
        "ename": "Spring Colors, Elegant White",
        "price": "NT$ 3,999",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_06.jpg",
        "name": "明月映影 |",
        "ename": "Bright Moon Reflecting Shadows",
        "price": "NT$ 3,499",
        "link": "#"
    },
                ],

                list2:[
    {
        "image": "./tiny_pic/02.list/list_item_07.jpg",
        "name": "燒藍步搖流蘇簪子 | ",
        "ename": "Swaying Tassel Hairpin",
        "price": "NT$ 980",
    },
    {
        "image": "./tiny_pic/02.list/list_item_08.jpg",
        "name": "翠影古韻 |",
        "ename": "Emerald Elegance",
        "price": "NT$ 880",
    },
    {
        "image": "./tiny_pic/02.list/list_item_09.jpg",
        "name": "青漸變金鎖瓔珞背雲 |",
        "ename": "Green Gradual Changing Necklace",
        "price": "NT$ 1,280",
    },
                    ],

                list3: [
    {
        "image": "./tiny_pic/02.list/list_item_10.jpg",
        "name": "漢服租賃體驗 |",
        "ename": "Hanfu Rental Experience",
        "price": "NT$ 2,800 ~",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_11.png",
        "name": "漢服專業訂製 |",
        "ename": "Professional Hanfu Tailoring",
        "price": "NT$ 6,000 ~",
        "link": "#"
    },
    {
        "image": "./tiny_pic/02.list/list_item_12.png",
        "name": "專業外拍攝影 |",
        "ename": "Specialized Outdoor Photoshoots",
        "price": "NT$ 1,800 ~ NT$ 3,200",
        "link": "#"
    }
                ],
    

            }
        },
    }).mount('#app')

    
</script>

<footer>
    <div class="wrap">
        <div class="footer_menu">
            <ul>
                <li>
                    <a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-list.html#">商品總覽</a>
                    <ul class="sub_menu">
                        <li><a href="NiShangGe-list.html#hanfu">漢服</a></li>
                        <li><a href="NiShangGe-list.html#accessory">配飾</a></li>
                        <li><a href="NiShangGe-list.html#others">其他</a></li>
                    </ul>
                </li>
                <li><a href="https://lyn-green.github.io/CHD104/NiShangGe/NiShangGe-about.html">關於品牌</a></li>
                <li><a href="https://lyn-green.github.io/CHD104/NiShangGe/meet-with.html">認識漢服</a></li>
            </ul>
        </div>
        <div class="logo">
            <div class="logo_img">
                <a href="https://lyn-green.github.io/CHD104/NiShangGe/"><img src="./tiny_pic/00.header.footer/logo_long.png" alt="NiShangGe"></a>
            </div>
            <div class="copyright">
                <span>
                    ©NiShangGe Studio Co. All rights reserved. <br>
                    本網站為TibaMe_前端設計工程師班學員專題成果作品本平台僅供學習、展示之用。
                </span>
            </div>
        </div>
        <div class="connection">
            <div class="connect">
                <div class="connect_info">
                    <span> 聯絡我們<br> Tel : (03)425-1108<br> Email : Nishang_Studio@gmail.com</span>
                </div>
                <div class="connect_way">
                    <a href="#"><img src="./tiny_pic/07.icon/InstagramLogo.png" alt="InstagramLogo."></a>
                    <a href="#"><img src="./tiny_pic/07.icon/TwitterLogo.png" alt="TwitterLogo"></a>
                    <a href="#"><img src="./tiny_pic/07.icon/FacebookLogo.png" alt="FacebookLogo"></a>
                    <a href="#"><img src="./tiny_pic/07.icon/LineLogo.png" alt="LineLogo"></a>
                    <a href="#"><img src="./tiny_pic/07.icon/WechatLogo.png" alt="WechatLogo"></a>
                </div>
            </div>
            <div class="to-top">
                <a href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>

</body>
<!--  -->
</html>